[workspace]
members = [
  'bench',
  'browser-testing',
  'cli',
  'executor',
  'inspect',
  'primitives',
  'rpc',
  'rpc-client',
  'runtime',
  'testing',
  'pallets/dbc-staking',
  'pallets/generic-func',
  'pallets/dbc-price-ocw',
  'pallets/online-profile',
  'pallets/online-profile/rpc',
  'pallets/online-profile/rpc/runtime-api',
  'pallets/committee',
  'pallets/committee/rpc',
  'pallets/committee/rpc/runtime-api',
  'pallets/online-committee',
  'pallets/online-committee/rpc',
  'pallets/online-committee/rpc/runtime-api',
  'pallets/simple-rpc',
  'pallets/simple-rpc/rpc',
  'pallets/simple-rpc/rpc/runtime-api',
  'pallets/maintain-committee',
  'pallets/rent-machine',
  'pallets/rent-machine/rpc',
  'pallets/rent-machine/rpc/runtime-api',
  'pallets/support',
]

[profile.release]
panic = 'unwind'
