[package]
authors = ["bobo"]
edition = "2021"
name = "rent-machine-rpc"
version = "0.1.0"

[dependencies]
codec = { package = "parity-scale-codec", version = "3.2.2", features = ["derive"] }
jsonrpsee = { version = "0.16.2", features = ["client-core", "server", "macros"] }

dbc-support = { version = "0.1.0", path = "../../support" }
rent-machine-runtime-api = { version = "0.1.0", path = "./runtime-api" }

sp-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.39" }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.39" }
sp-blockchain = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.39" }
