[package]
authors = ["bobo <dongkaige@gmail.com>"]
edition = "2021"
name = "committee-runtime-api"
version = "0.1.0"

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
committee = { version = "0.1.0", path = "../../../committee", default-features = false }
sp-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37", default-features = false }

[features]
default = ["std"]
std = [
  "codec/std",
  "committee/std",
  "sp-api/std",
]
