[package]
edition = "2021"
name = "online-profile-rpc"
version = "0.1.0"

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", features = ["derive"] }
jsonrpsee = { version = "0.16.2", features = ["client-core", "server", "macros"] }

dbc-support = { version = "0.1.0", path = "../../support" }
online-profile = { version = "0.1.0", path = "../../online-profile" }
online-profile-runtime-api = { version = "0.1.0", path = "./runtime-api" }

sp-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
sp-blockchain = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
