[package]
name = "dbc-support"
version = "0.1.0"
edition = "2018"

[dependencies]
bs58 = { package = "bs58", version = "0.4.0", default-features = false }
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false, features = ["derive"] }
serde = { version = "1.0.101", optional = true, features = ["derive"] }
hex = { version = "0.4", optional = true, default-features = false }

sp-core = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0", default-features = false }
sp-io = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0", default-features = false }
frame-support = { git = "https://github.com/paritytech/substrate", tag = "v3.0.0", default-features = false }

[features]
default = ["std"]
std = [
  "sp-core/std",
  "sp-std/std",
  "sp-io/std",
  "sp-runtime/std",
  "codec/std",
  "frame-support/std",
  "serde",
  "hex",
]
