[package]
authors = ["bobo <dongkaige@gmail.com>"]
edition = "2021"
name = "maintain-committee"
version = "0.1.0"

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }

frame-support = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37", default-features = false }
frame-system = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37", default-features = false }

dbc-support = { path = "../support", default-features = false }
generic-func = { path = "../generic-func", default-features = false }
online-profile = { package = "online-profile", path = "../online-profile", default-features = false }
rent-machine = { package = "rent-machine", path = "../rent-machine", default-features = false }

[dev-dependencies]
once_cell = "1"
hex = "0.4"

sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
sp-io = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
pallet-balances = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
pallet-randomness-collective-flip = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
sp-keyring = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
pallet-treasury = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
pallet-identity = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
pallet-timestamp = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
pallet-collective = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }

online-committee = { path = "../online-committee" }
committee = { path = "../committee" }
online-profile = { path = "../online-profile" }
dbc-price-ocw = { path = "../dbc-price-ocw" }

[features]
default = ["std"]
std = [
  "codec/std",
  "generic-func/std",
  "frame-support/std",
  "frame-system/std",
  "sp-runtime/std",
  "sp-std/std",
  "dbc-support/std",
]
