[package]
authors = ["bobo <dongkaige@gmail.com>"]
edition = "2021"
name = "simple-rpc"
version = "0.1.0"

[dependencies]
codec = { package = "parity-scale-codec", version = "3.2.2", default-features = false, features = ["derive"] }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }
serde = { version = "1.0.101", optional = true, features = ["derive"] }

pallet-identity = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.39", default-features = false }
frame-system = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.39", default-features = false }
frame-support = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.39", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.39", default-features = false }

dbc-support = { package = "dbc-support", path = "../support", default-features = false }
online-profile = { path = "../online-profile", default-features = false }

[features]
default = ["std"]
std = [
  "pallet-identity/std",
  "frame-system/std",
  "frame-support/std",
  "serde",
  "sp-std/std",
  "dbc-support/std",
]
