# This is a basic workflow to help you get started with Actions
name: testcase

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches:
      - master
      - v3.2-dev
  pull_request:
    branches:
      - master
      - v3.2-dev

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        package:
          - dbc-price-ocw
          - online-committee
          - rent-machine
          - maintain-committee
          - committee
          - terminating-rental

    steps:
      - name: Add wasm toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          target: wasm32-unknown-unknown

      - uses: actions/checkout@v2
        
      - name: Install Protoc
        uses: arduino/setup-protoc@v3

      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: "true"

      - name: Run ${{ matrix.package }} tests
        run: cargo test -p ${{ matrix.package }}

      - name: Check try-runtime
        run: cargo check --features try-runtime
